.container {
  padding: 12px;
  background-image: url(../../public/Geo\ Wave\ 22.png);
  background-size: cover;
  background-repeat: repeat;
}
.arrow {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  margin-top: 3px;
  background-image: url(../../image/shape.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.link {
  width: 67px;
  height: 24px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.back {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(123, 97, 255, 1);
}
.h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(63, 63, 63, 1);
}
.input_container {
  list-style: none;
}
@media Screen and (min-width: 320px) {
  .form {
    box-sizing: border-box;
    width: 272px;
    padding: 40px 16px 40px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
    margin: 0 auto;
  }
  .container_h2 {
    width: 272px;
    margin: 0 auto;
  }
  .item {
    display: block;
  }
}
@media Screen and (min-width: 768px) {
}
