.main_container {
  background-color: rgba(254, 252, 255, 1);
  background-image: url(../../public/Geo\ Wave\ 22.png);
  background-size: contain;
  background-repeat: repeat;
}
.header {
  background-color: rgba(254, 252, 255, 1);
  border-bottom: 1px solid rgba(123, 97, 255, 1);
}
.container {
  width: 320px;
  height: 168px;
  padding: 32px 24px 24px 24px;
  margin: 0 auto;
}
.h2 {
  font-family: Alata;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(123, 97, 255, 1);
  margin-bottom: 31px;
}
.mainContainer {
  background-color: black;
}
.search {
  box-sizing: border-box;
  position: relative;
  width: 272px;
  height: 48px;
  padding-left: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  background-color: rgba(255, 255, 255, 1);
}
.search_container1 {
  position: relative;
}
.search_container::before {
  position: absolute;
  z-index: 100;
  content: '';
  width: 24px;
  height: 24px;
  top: 25%;
  left: 10px;
  background-image: url(../../image/search.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media Screen and (min-width: 768px) {
  .container {
    box-sizing: border-box;
    display: flex;
    width: 768px;
    height: 92px;
    padding: 26px 40px 18px 40px;
  }
  .search_container::before {
    top: 15%;
    left: 110px;
  }
  .search_container {
    margin-left: 100px;
  }
  .h2 {
    height: 33px;
    margin: 0;
    margin-top: 8px;
  }
}
@media Screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 22px 80px 22px 84px;
  }
}
